.row
  .col-md-12
    .homepage-promo-box
      %ul.benefits-box
        %h3 Benefits of our service
        %li Anonymous
        %li Free to use
        %li Quick sign-up
        %li= link_to "Sign up now", new_api_user_registration_path, :class => "btn btn-success homepage-signup-button"
