// Place all the styles related to the demo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#console {
  margin: 10px;
  padding: 5px;
  white-space: pre-wrap;
  background-color: #000;
  color: #fff;
  font-family: Courier;
  position: relative;
  height: 250px;
  overflow-y: auto;
}

