// Place all the styles related to the users/dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin-top: 50px;
}

.sidebar-navigation {

}

.navigation-bar {
  list-style-type: none;
}

.mail-table {

  min-width: 500px;

  th {
    padding: 10px;
  }


}
